# Dependencies
node_modules/

# Next.js
.next/
out/

# Build output
dist/
build/

# Turborepo
.turbo/

# Testing
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Local files
*.local