.ui-section {
  width: 100%;
  padding-block: 4rem;
}

@media (min-width: 768px) {
  .ui-section {
    padding-block: 6rem;
  }
}

@media (min-width: 1024px) {
  .ui-section {
    padding-block: 8rem;
  }
}